*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.all .header{
    display: flex;
    background: rgb(0, 167, 0);
    justify-content: space-between;
}
.all .header .logo{

}
.all .header .logo img{
    width: 100px;
    height: 100px;
}
.all .header .textlogo{
    margin-top: 30px;
    margin-right: 20px;
    height: 10px;
    display: flex;
}
.all .header .textlogo h1{
    font-family: monospace;
    color: white;
}
.article .leftside i{
   position: absolute;
   left: 10px;
   margin-right: 1px;
   margin-top: 50px;
   display: flex;
}
.article .leftside{
    width: 230px;
    position: relative;
    margin-top: 130px;
    
}
.article .leftside .navleft ul{
    list-style: none;
    
}
.article .leftside .navleft ul li{
    line-height: 100px;
    border: 1px solid black;
}
.article{
    display: flex;
    position: relative;
}
.article .leftside .navleft ul li a {
    text-decoration: none;    
    color: white;
    display: block;
    background: green;
    transition: 0.3s;
    text-align: center;
    font-family: monospace;
    font-size: 20px;
    padding-left: 25px;
}
.article .leftside .navleft ul li a:hover{
    background: rgb(0, 167, 0);
}
.all .header .textlogo .logout{
    margin-left: 10px;
}
.all .header .textlogo .logout a{
    text-decoration: none;
    text-align: center;
    color: white;
    display: block;
    font-family: monospace;
    font-size: 15px;
    font-weight: normal;
    background-color: red;
    width: 65px;
    height: 30px;
    padding-top: 5px;
    transition: 0.3s;
}
.all .header .textlogo .logout a:hover{
    background-color: black;
}
.all .article .rightside{
    height: 562px;
    width: 1135px;
    margin:  0 auto;
}
table{
    margin-top: 250px;
    border-collapse: collapse;
    width: 100%;
}
table, th td{
    border: 1px solid #221f1f;
    padding: 8px;
    text-align: left;
}
table, th{
    background-color: #4CAF50;
            color: white;
}
tr:nth-child(even) {
    background-color: #16c74b;
}
table, td{
    border-right: 1px solid black;
   
}
tr:hover {
    background-color: #19f119;
}